body {
  background-color: #FFF;
}

#container {
  width: 1000px;
  background-color:#EEE;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  background-color: #DDD;
  text-align: center;
}
